body {
    font-family: 'Open Sans', sans-serif;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

p {
    padding: 0;
    margin: 0;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}
/*--banner--*/

/*---*/
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
}

    nav a:hover,
    nav a:focus {
        outline: none;
    }
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0 0;
    max-width: 0;
    border-bottom: 2px solid #062f3c;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}
/*----*/
.header {
    background: #007ea3;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    margin-top: 15px;
    min-height: auto;
}

    .navbar-default .navbar-nav > .active > a {
        color: #fff;
        background: none;
        padding: 10px 0;
    }

div#bs-example-navbar-collapse-1 {
    float: right;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
    margin: 0 0.8em;
    font-family: 'Questrial', sans-serif;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background: none;
    outline: none;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
}

.banner-section {
    background: url(../images/745022-barcelona.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 772px;
    text-align: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.banner-grids {
    background: rgba(95, 109, 133, 0.8);
    padding: 2em;
}

.banner-heder {
    margin: 17em 0 3em;
}

    .banner-heder h3 {
        font-size: 3em;
        color: #fff;
        font-weight: 600;
    }

    .banner-heder span {
        display: block;
    }

.sel {
    width: 100%;
    padding: .3em 1em;
    font-size: 1em;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #BBBBBB;
}

.search input[type="submit"] {
    width: 100%;
    background: #062f3c;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
}

.allPaths {
    padding: 5em 0;
    background: #F6F9FD;
}


h2.tittle {
    font-size: 3.5em;
    text-align: center;
    color: #062f3c;
}
.allPaths span {
    text-align: center;
    display: block;
    color: black;
}

@-webkit-keyframes drop {
    0% {
        text-shadow: 0 0 0 #fff, 0 -45px 0 #062f3c;
    }

    20% {
        text-shadow: 0 0 0 #fff, 0 -15px 0 #062f3c;
    }

    30% {
        text-shadow: 0 15px 0 #fff, 0 0px 0 #062f3c;
    }

    40% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c;
    }

    41% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c, 0 -45px 0 #fff;
    }

    70% {
        text-shadow: 0 45px 0 #fff, 0 15px 0 #062f3c, 0 0px 0 #fff;
    }

    80% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }

    100% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
}
/*safari and chrome*/
@keyframes drop {
    0% {
        text-shadow: 0 0 0 #fff, 0 -45px 0 #062f3c;
    }

    20% {
        text-shadow: 0 0 0 #fff, 0 -15px 0 #062f3c;
    }

    30% {
        text-shadow: 0 15px 0 #fff, 0 0px 0 #062f3c;
    }

    40% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c;
    }

    41% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c, 0 -45px 0 #fff;
    }

    70% {
        text-shadow: 0 45px 0 #fff, 0 15px 0 #062f3c, 0 0px 0 #fff;
    }

    80% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }

    100% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
}
.addPath {
    padding: 5em 0;
    background: #F6F9FD;
}
.contact-grids {
    margin-top: 4em;
}



    .contact-grids input[type="text"] {
        background: none;
        width: 89%;
        outline: none;
        padding: 0.97em 0.8em;
        font-size: 1em;
        border-right: 1px solid #ADADAD;
    }


.grid-contact-in input[type="submit"] {
    width: 100%;
    font-size: 1.3em;
    background: #062f3c;
    padding: 0.7em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    font-weight: 700;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

    .grid-contact-in input[type="submit"]:hover {
        background: #007ea3;
    }




.copy-section {
    padding: 2em 0;
    background: #007ea3;
    text-align: center;
}

    .copy-section p {
        font-size: 0.9em;
        color: #fff;
        font-weight: 400;
    }



@media(max-width:1440px) {
    .banner-section {
        min-height: 617px;
    }

    .banner-heder {
        margin: 14em 0 3em;
    }
}

@media(max-width:1366px) {
    .banner-section {
        min-height: 608px;
    }
}

@media(max-width:1280px) {
    .banner-section {
        min-height: 568px;
    }

    .banner-heder {
        margin: 12em 0 3em;
    }
}

@media(max-width:1080px) {
    .banner-section {
        min-height: 477px;
    }

    .banner-heder {
        margin: 8em 0 3em;
    }

    .banner-grid {
        padding: 0 2px;
    }


    h2.tittle {
        font-size: 3em;
    }



    .contact-grids input[type="text"] {
        width: 88%;
    }
}

@media(max-width:1024px) {
    .banner-grids {
        padding: 2em 1em 2em 2em;
    }
}

@media(max-width:991px) {
    .banner-grid {
        float: left;
        width: 18%;
    }

    .banner-grids {
        padding: 2em 1em 2em 2em;
    }

    .search {
        float: left;
        width: 28%;
    }

    .banner-heder h3 {
        font-size: 2.8em;
    }

    .sel {
        padding: .3em .8em;
        font-size: .9em;
    }

    .banner-section {
        min-height: 436px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 1.1em;
        margin: 0 0.5em;
    }



    .allPaths, .addPath {
        padding: 4em 0;
    }













    .grid-contact {
        float: left;
        width: 50%;
    }

    .grid-contact-in {
        float: left;
        width: 50%;
    }

    .contact-grids input[type="text"] {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .banner-section {
        min-height: 343px;
    }

    .banner-heder {
        margin: 5em 0 3em;
    }
}

@media(max-width:736px) {
    div#bs-example-navbar-collapse-1 {
        float: none;
    }

    .navbar-toggle {
        margin-top: 2px;
    }

    .navbar-toggle {
        background-color: #062f3c;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #062f3c;
    }

    .navbar-default .navbar-toggle {
        border-color: #062f3c;
    }

    .banner-heder h3 {
        font-size: 2.5em;
    }

    .sel {
        padding: .3em .2em;
        font-size: .9em;
    }

    .banner-grids {
        padding: 2em 1em 2em 1.5em;
    }

    .search {
        float: left;
        width: 27%;
        padding: 0 0px 0 2px;
    }

    .contact-grids input[type="text"] {
        width: 84%;
    }



    h2.tittle {
        font-size: 2.8em;
    }

    .allPaths span {
        font-size: 1.2em;
    }

    .contact-grids {
        margin-top: 3em;
    }
}

@media(max-width:667px) {





    .contact-grids input[type="text"] {
        width: 83%;
    }

    .allPaths, .addPath {
        padding: 3em 0;
    }
}

@media (max-width: 640px) {




    .banner-grids {
        padding: 2em 1em 2em 1.5em;
    }

    .sel {
        padding: .3em .1em;
    }


    .contact-grids input[type="text"] {
        width: 82%;
    }
}

@media(max-width:600px) {
    .banner-grid {
        float: left;
        width: 25%;
    }

    .search {
        margin: 0em auto;
        float: none;
    }

        .search input[type="submit"] {
            margin-top: .5em;
        }

    .banner-grids {
        background: rgba(95, 109, 133, 0.8);
        padding: 1em 1em 0.5em;
    }



    h2.tittle {
        font-size: 2.5em;
    }


    .banner-heder h3 {
        font-size: 2em;
    }

    .contact-grids input[type="text"] {
        width: 81%;
    }
}

@media(max-width:568px) {
    .banner-section {
        background: url(../images/745022-barcelona.jpg) no-repeat -96px 0px;
        background-size: cover;
    }


    .navbar-default {
        margin-top: 5px;
    }

    .navbar-brand {
        padding: 4px 0px;
    }


    .contact-grids input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .search {
        width: 35%;
    }

    .navbar-toggle {
        margin-top: 7px;
    }

    .banner-heder h3 {
        line-height: 1.5em;
    }

    .contact-grids {
        margin-top: 2em;
    }




        .contact-grids input[type="text"] {
            width: 77%;
        }
}

@media(max-width:414px) {
    .banner-heder h3 {
        font-size: 1.8em;
    }

    .banner-grid {
        width: 100%;
    }

    .banner-heder {
        margin: 5em 0 1em;
    }

    .search {
        width: 40%;
    }

    .banner-grid:nth-child(2) {
        margin-top: 0.5em;
    }

    .logo a {
        font-size: 0.9em;
    }






    .contact-grids {
        margin-top: 2em;
    }




    .grid-contact {
        width: 100%;
        padding: 0;
    }

    .grid-contact-in {
        width: 100%;
        margin-top: 1em;
        padding: 0;
    }

    .contact-grids input[type="text"] {
        width: 85%;
    }


    h2.tittle {
        font-size: 2em;
    }



    .allPaths, .addPath {
        padding: 2em 0;
    }




    .copy-section p {
        line-height: 1.8em;
    }
}

@media(max-width:384px) {
    .banner-heder h3 {
        font-size: 1.5em;
    }

    .logo a {
        font-size: 0.85em;
    }

    .search {
        width: 47%;
    }

    .banner-heder {
        margin: 3em 0 1em;
    }

    .allPaths span {
        font-size: 1em;
    }





    .contact-grids input[type="text"] {
        width: 84%;
    }
}

@media(max-width:375px) {


    .contact-grids input[type="text"] {
        width: 84%;
    }
}

@media(max-width:320px) {
    .banner-heder h3 {
        font-size: 1.4em;
    }

    .logo a {
        font-size: 0.83em;
    }

    .search {
        width: 57%;
    }

    .grid-contact, .grid-contact-in {
        padding: 0;
    }


    .contact-grids input[type="text"] {
        width: 83%;
    }
}


.table {
    width: 100%;
}


    .table td {
        text-align: center;
    }

.box {
    background-color: #ffffff;
    border: 1px solid #e0ded7;
    height: 730px;
    overflow: auto;
    margin: 12px 0;
}


.box-shortestpath {
    height: 200px;
    overflow: auto;
    margin: 12px 0;
    text-align: left;
}
